<%= form_with model: [:admin, @worker], local: true do |f| %>
<% if @worker.errors.any? %>
<div class="errors">
	Ошибки: <%= @worker.errors.count %>
	<ul>
		<% @worker.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<p>
	<%= f.text_field :nickname, placeholder: 'Имя' %>
</p>

<p>
	<%= f.text_field :email, placeholder: 'email' %>
</p>

<p>
	<%= f.text_field :password, placeholder: 'Пароль' %>
</p>

<p>
	<%= f.select :role_id, Role.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
</p>

<p>
	<%= f.submit %>
</p>
<% end %>