<h3 class="ui left floated header">Сотрудники</h3>
<table class="ui celled table">
<tr>
	<th>Email</th>
	<th>Имя</th>
    <th>Должность</th>
    <th colspan="2">Действия</th>
</tr>
<% @workers.each do |worker| %>
	<tr>
		<td><%= worker.email %></td>
		<td><%= worker.nickname %></td>
		<td>
			<% if worker.role %>
				<%= worker.role.name %>
			<% end %>
		</td>
		<td><%= link_to 'Редактировать', edit_admin_worker_path(worker) %></td>
		<td><%= link_to 'Удалить', admin_worker_path(worker), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
	</tr>
<% end %>
</table>
<% if current_worker.create_worker_access_is_given? %>
	<%= link_to 'Создать нового сотрудника', new_admin_worker_path %>
<% end %>
