<h3 class="ui left floated header">Сотрудники</h3>
<table class="ui selectable celled black table", id="centred_table">
<tr class="table_title">
	<th>Email</th>
	<th>Имя</th>
    <th>Должность</th>
    <th colspan="2">Действия</th>
</tr>
<% @workers.each do |worker| %>
	<tr>
		<td><%= worker.email %></td>
		<td><%= worker.nickname %></td>
		<td>
			<% if worker.role %>
				<%= worker.role.name %>
			<% end %>
		</td>
		<td><%= link_to edit_admin_worker_path(worker) do %>
			<i class="big edit outline icon"></i>
		<% end %>
		</td>
		<td>
			<%= link_to admin_worker_path(worker), data: { confirm: 'Вы уверены?' },method: :delete do %>
				<i class="big trash alternate outline icon"></i>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
<% if current_worker.create_worker_access_is_given? || current_worker.admin? %>
	<%= link_to 'Создать нового сотрудника', new_admin_worker_path, class:"ui positive basic button" %>
<% end %>