<h3 class="ui left floated header">Сотрудники</h3><br><br>
<% if current_worker.access_is_given?('worker', 'create') %>
	<%= link_to 'Создать нового сотрудника', new_admin_worker_path, class:"ui positive basic button" %>
<% end %>
<table class="ui selectable celled black table", id="centred_table">
<tr class="table_title">
	<th>Имя</th>
  <th>Должность</th>
	<th>Email</th>
  <th colspan="2">Действия</th>
</tr>
<% @workers.each do |worker| %>
	<tr>
		<td>
			<h3><%= worker.nickname %></h3>
		</td>
		<td>
			<% if worker.role %>
				<h3><%= worker.role.name %></h3>
			<% end %>
		</td>
		<td>
			<h3><%= worker.email %></h3>
		</td>
		<td>
			<% if current_worker.access_is_given?('worker', 'edit') %>
				<%= link_to  edit_admin_worker_path(worker) do %>
					<i class="middle teal circular edit inverted icon"></i></i>
				<% end %>
			<% end %>
		</td>
		<td>
			<% if current_worker.access_is_given?('worker', 'destroy') %>
				<%= link_to admin_worker_path(worker), method: :delete, id: "worker/#{worker.id}", data: { confirm: 'Вы уверены?' } do %>
					<i class="middle circular inverted red trash alternate outline icon"></i>
				<% end %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
