<h1>Обработка заказа</h1>

<div class="ui form">
  <div class="field">
    <%= form_with model: [:admin,@order], local: true do |f| %>
      <% if @order.errors.any? %>
        <div class="errors">
          Total errors: <%= @order.errors.count %>
          <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label 'Имя' %>
      <%= f.text_field :client_name %>
    </div>

    <div class="field">
      <%= f.label 'Номер телефона' %>
      <%= f.phone_field :client_phone %><br>
    </div>

    <div class="field">
      <%= f.label 'Email' %>
      <%= f.email_field :client_email, placeholder: 'Выяснить' %><br>
    </div>

    <div class="field">
      <%= f.label 'Адрес' %>
      <%= f.text_field :client_addres, placeholder: 'Выяснить' %><br>
    </div>

    <div class="field">
      <%= f.label 'Тип доставки' %>
      <%= f.text_field :delivery_type, placeholder: 'Выяснить' %><br>
    </div>

    <div class="field">
      <%= f.label 'Цена продукта' %>
      <%= f.number_field :order_price %><br>
    </div>

    <div class="field">
      <%= f.label 'Количество' %>
      <%= f.number_field :quantity, placeholder: 'Выяснить' %><br>
    </div>
    <br>

    <div class="ui buttons">
      <%= f.submit "Подтвердить заказ", class:"ui green button"%>

      <div class="or"></div>
      <%= link_to admin_from_new_to_refused_path(@order), data: { confirm: 'Вы уверены?' },class:"ui red button",method: :post do %>
        Отменить заказ
      <% end %>
    </div>
    <% end %>
  </div>
<br><br>
