<br>
<br>
<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>№</th>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Email</th>
      <th>Адрес</th>
      <th>Способ доставки</th>
      <th>Цена заказа</th>
      <th>Количество</th>
      <th>Общая сумма</th>
      <th>Статус</th>
      <th colspan="2">Действия</th>
    </tr>
  </thead>

	<% @orders.each do |order| %>

		<tr>
			<th><b><%=  %></b></th>
			<th><b><%= order.client_name %></b></th>
			<th><b><%= order.client_phone %></b></th>
			<th><b><%= order.client_email %></b></th>
			<th><b><%= order.client_addres %></b></th>
			<th><b><%= order.delivery_type %></b></th>
			<th><b><%= order.order_price %></b></th>
			<th><b><%= order.quantity %></b></th>
			<th><b><%= order.total_price %></b></th>
			<th><b><%= order.status %></b></th>
			<th><b><%= link_to "Обработать", edit_admin_order_path(order) %>
						 <%= link_to admin_orders_path(order), data: { confirm: 'Вы уверены?' },method: :delete do %>
							<i class="big trash alternate outline icon"></i>
						<% end %>
						 </b></th>
		</tr>
	<% end %>
</table>

<%#= link_to "Редактировать", admin_orders_path, class: "ui green button" %>