<br>
<br>
<div class="ui grid">
	<div class="four wide column">
		<div>
			<H3>Оператор</H3>
				<%= link_to "Новые", admin_orders_path(status:'new_order') %>
			(<%= Order.where(status: :new_order).count %>)<br>
		</div>
		<div>
			<%= link_to "Обработанные", admin_orders_path(status:'confirmed') %>
				(<%= Order.where(status: :confirmed).count %>)<br>
		</div>
		<div>
			<%= link_to "Отказались", admin_orders_path(status:'rejection') %>
			(<%= Order.where(status: :rejection).count %>)<br>
		</div>
	</div>
	<div class="four wide column">
		<div>
			<h3>Прочие</h3>
			<%= link_to "Архив", admin_orders_path %><br>
		</div>
	</div>
</div>

<table class="ui selectable celled table">
	<thead>
		<tr>
			<th>№</th>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Email</th>
			<th>Адрес</th>
			<th>Способ доставки</th>
			<th>Цена заказа</th>
			<th>Количество</th>
			<th>Общая сумма</th>
			<th>Статус</th>
			<th colspan="2">Действия</th>
		</tr>
	</thead>
	<% @orders.each do |order| %>
	<tr>
		<th><b><%=  %></b></th>
		<th><b><%= order.client_name %></b></th>
		<th><b><%= order.client_phone %></b></th>
		<th><b><%= order.client_email %></b></th>
		<th><b><%= order.client_addres %></b></th>
		<th><b><%= order.delivery_type %></b></th>
		<th><b><%= order.order_price %></b></th>
		<th><b><%= order.quantity %></b></th>
		<th><b><%= order.total_price %></b></th>
		<th><b><%= order.status %></b></th>
			<% if worker_signed_in? %>
				<% if current_worker.edit_order_access_is_given? == true %>
					<th>
						<%= link_to edit_admin_order_path(order) do %>
						<i class="circular teal inverted pencil alternate icon"></i>
						<% end%>
				<% end%>
				<% if current_worker.destroy_order_access_is_given? == true %>
						<%= link_to admin_order_path(order), data: { confirm: 'Вы уверены?' },method: :delete do %>
							<i class="circular inverted red trash alternate outline icon"></i>
						<% end %>
					</th>
				<% end%>
			<% end %>
		</tr>
	<% end %>
</table>
