<div class="ui form">
	<div class="fields">
		<%= form_with model: [:admin, @role], local: true do |f| %>
			<% if @role.errors.any? %>
			<div class="errors">
				Total errors: <%= @role.errors.count %>
				<ul>
					<% @role.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<div class="field">
				<%= f.text_field :name, placeholder: 'Название' %>
			</div></br>

			<p>
				<%= f.submit "Подтвердить",class:"ui teal button" %>
			</p>
		<% end %>
	</div>
</div>