<p id="notice"><%= notice %></p>

<p>
  <strong>Назввание:</strong>
  <h3><%= @role.name %></h3>
</p>

<%= link_to 'Редактировать', edit_admin_role_path(@role) %> |
<%= link_to 'Назад', admin_roles_path %>

<%= render partial: 'admin/functions/index' %>

