<p id="notice"><%= notice %></p>

<p>
  <strong>Назввание:</strong>
  <h3><%= @role.name %></h3>
</p>
<div class="ui buttons">
  <%= link_to edit_admin_role_path(@role),class:"ui teal button" do %>
    Редактировать
  <% end %>
  <%= link_to admin_roles_path,class:"ui olive button" do %>
    Назад
  <% end %>
</div>
<%= render partial: 'admin/functions/index' %>

