<p id="notice"><%= notice %></p>

<p><%= @landing.name %></p>
<p><%= @landing.description %></p>

<%= link_to 'Редактировать', edit_admin_landing_path(@landing) %><br><br>
<%= link_to 'Назад', admin_landings_path %><br><br>


