<div class="ui form">
  <div class="fields">
    <%= form_with model: [:admin, @product], local: true do |f| %>
      <% if @product.errors.any? %>
        <div class="errors">
          Ошибки:  <%= @product.errors.count %>
          <ul>
            <% @product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.text_field :name, placeholder: 'Название' %><br>
    </div><br>

    <div class="field">
      <%= f.number_field :price, placeholder: 'Цена' %><br>
    </div><br>

    <div class="field">
      <%= f.label :Изображение %>
      <%= f.file_field :picture %><br>
    </div class="field"><br>

    <div class="field">
      <%= f.text_area :description, placeholder: 'Описание' %><br>
    </div><br>

    <div class="field">
      <%= f.select :landing_id, Landing.all.collect { |p| [ p.name, p.id ] }, include_blank: true %><br><br>
    </div>

    <div>
      <%= f.submit "Подтвердить",class:"ui teal button" %>
    </div>
    <% end %>
  </div>
</div>
