<%= form_with model: [:admin, @product], local: true do |f| %>
<% if @product.errors.any? %>
<div class="errors">
  Total errors: <%= @product.errors.count %>
  <ul>
    <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :price %><br/>
  <%= f.number_field :price %>
</p>

<p>
  <%= f.label :description %><br/>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>