<h1>Товары</h1>
<table class="ui celled table">
	<tr>
		<th>Изображение</th>
		<th>Название</th>
		<th>Цена</th>
		<th>Описание</th>
		<th>Изображение</th>
		<th colspan="4">Действия</th>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td>
			<% if product.picture.attached? %>
		    	<%= image_tag product.picture, size: 100 %>
			<% end %>
		</td>
		<% if current_worker.show_product_access_is_given? || current_worker.admin? %>
			<td><%= link_to product.name, admin_product_path(product) %></td>
		<% else %>
			<td><%= product.name %></td>
		<% end %>
		<td><%= product.price %></td>
		<td>
			<% if current_worker.duplicate_product_access_is_given? %>
				<%= link_to 'Создать копию', admin_duplicate_path(product), method: :post %>
			<% end %>
		</td>
		<td><%= link_to 'Удалить', admin_product_path(product), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
	</tr>
	<% end %>
</table><hr>
<% if current_worker.new_product_access_is_given? || current_worker.admin? %>
	<%= link_to 'Создать новый товар',   new_admin_product_path %>
<% end %>
