<h3 class="ui left floated header"><%= @product.name %> - <%= @product.price %><br></h3>
<% if @product.picture.attached? %>
    <%= image_tag @product.picture, size: 300 %><br><br>
<% end %>
<%= @product.description %><br><br><hr>
    <%= link_to "Назад", admin_products_path, class:"ui blue basic button" %>
