<h1>Функции</h1>
<table class="ui selectable celled black table", id="centred_table">
  <tr class="table_title">
    <th>Модель</th>
    <th>Название</th>
    <th>Описание</th>
    <th>Доступ</th>
    <th>Роль</th>
    <th colspan="3">Действия</th>
  </tr>

  <% @functions.each do |function| %>
    <tr>
      <td><%= function.model %></td>
      <td><%= function.name %></td>
      <td><%= function.description %></td>
      <td><%= function.access %></td>
      <td><%= function.role.name %></td>
      <td>
        <% if function.access %>
          <%= link_to 'Ограничить в правах', admin_access_path(function), method: :put %>
        <% else %>
          <%= link_to 'Предоставить право', admin_access_path(function), method: :put %>
        <% end %>
      </td>
      <td><%= link_to 'Редактирование', edit_admin_function_path(function) %></td>
      <td><%= link_to 'Удалить', admin_function_path(function), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Создать новую функцию', new_admin_function_path %>
